.header{
    align-items: center;
    margin: 20px 400px;
    color: green;
    height: 100px;
    width: 500px;
}
.image {
    position: absolute;
    width: 120.26px;
    height: 56px;
    left: 135px;
    top: 35px;
}
.form{
    position: relative;
    width: 10px;
    height: 44px;
    left: 335px;
    top: 39px;

    background: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5px;

}
.navbar{
    position: relative;
    width: 570px;
    height: 50px;
    left: 449px;
    top: 30px;
    font-size: 16px;
}
.linker{

}
.linker:hover{
    background: #F9A51A;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right:30px;
}
